{{- range $jobName, $params := .Values.managedHPA }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ $jobName }}
spec:
  schedule: {{ $.Values.cronSchedule | quote }}
  concurrencyPolicy: "Replace"
  startingDeadlineSeconds: 200
  suspend: false
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: cron-hpa
          containers:
            - name: cron-hpa
              image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag | default $.Capabilities.KubeVersion }}"
              imagePullPolicy: {{ $.Values.image.pullPolicy }}
              automountServiceAccountToken: false
              command:
                - /bin/sh
                - -c
                - {{ printf "kubectl patch hpa %s -p '{\"spec\":{\"minReplicas\":%s, \"maxReplicas\":%s}}'" $params.name $params.minReplicas $params.maxReplicas }}
          restartPolicy: OnFailure
---
{{- end }}
